.profile-inner {
  width: 60%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.profile-inner h2 {
  font-size: 20px;
}
.profile-img {
  margin-right: 30px;
}
.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}
