header {
  background-color: rgb(174, 243, 243);
}

.header-inner {
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.header-username {
  font-weight: 600;
  display: flex;
}

p {
  margin: 0;
}
