.post-card {
  max-width: 500px;
  min-width: 275px;
  margin: 10px auto;
}
.post-card-head {
  display: flex;
  justify-content: space-between;
}
.post-card-head-title {
  display: flex;
  align-items: center;
}
.posts-wrapper {
  width: 80%;
  margin: 50px auto;
}
.posts-header {
  display: flex;
  justify-content: space-around;
}
.posts-header::after {
  content: ' ';
}
.posts-wrapper .posts-header h1 {
  display: inline-block;
  margin: 0;
}
/* .posts-sort-btn-wrapper::after {
  content: ' ';
} */
