.post-card {
  max-width: 500px;
  min-width: 275px;
  margin: 10px auto;
}
.posts-wrapper {
  width: 80%;
  margin: 50px auto;
}
.posts-header {
  display: flex;
  justify-content: space-around;
}
.posts-wrapper .posts-header h1 {
  display: inline-block;
  margin: 0;
}
